- title 'Настройки приложения'
%h1 Настройки приложения

.row
  .col-md-offset-1.col-md-6
    %form.form-horizontal{:role => 'form'}
      .form-group
        %label.col-sm-6.control-label{:for => 'java_port'} Порт сервера-решателя
        .col-sm-6
          %input.form-control#java_port{:placeholder => 'порт сервера-решателя'}
      .form-group
        .col-sm-offset-2.col-sm-10
          %button.btn.btn-primary{:type => 'submit'} Сохранить
