
.blog-header
  %h1 Список всех анализов
  = title 'Список всех анализов'

  -# Таблица со всеми анализами.
  %table.table.table-bordered
    %tr
      %th Дата, когда данные для анализа были введены
      %th Состояние анализа
      %th
