- title 'Новый вариант анализа работы консультантов'

.row{:ng => {:app => 'analyseApp', :controller => 'analyseAppController'}}
  .alert.alert-danger{:ng => {:if => 'aid_status=="empty_data" || aid_status==null || aid_status=="not_end_analysis" || aid_status=="empty_analysis" || aid_status=="full_data" || aid_status=="not_full_data"'}}
    %strong Ошибка!
    %p{:ng => {:if => 'aid_status==null'}} Статус анализа не известен! Возможно данные не введены!
    %p{:ng => {:if => 'aid_status=="not_end_analysis"'}} Анализ не завершен!
    %p{:ng => {:if => 'aid_status=="empty_analysis"'}} Анализ консультантов за данную дату не проводился.
    %p{:ng => {:if => 'aid_status=="full_data"'}} Данные по консультантам введены полностью, но анализ не проводился.
    %p{:ng => {:if => 'aid_status=="not_full_data"'}} Данные по консультантам введены не полностью! Полный анализ невозможен!
    %p{:ng => {:if => 'aid_status=="empty_data"'}} Данные по консультантам не введены!
  .alert.alert-success{:ng => {:if => 'aid_status=="end_analysis"'}}
    %strong Анализ по данной дате завершен!
  .col-sm-2
    %ul.nav.nav-sidebar
      %li= link_to 'Список всех дат анализов', analyses_path
      %li= link_to 'Сравнить консультантов', '/compare'
  .col-sm-10
    %h1 Новый вариант анализа работы консультантов
    %p
      %h4 Дата анализа:
      %u {{aid_value}}
    = render :partial => 'modal'
    .row
      .col-md-3
        %br
        %table.table.table-bordered
          %tr.analyse_consultant_tr{:ng => {:repeat => 'item in consultants', :click => 'changeCurrentConsultant(item);', :class => 'item.class'}}
            %td {{item.id}}
            %td {{item.fio}}
        .panel.panel-default
          .panel-body
            %button.btn.btn-info{:ng => {:click => 'formReport()'}} Сформировать отчет
      .col-md-9
        %br
        .panel.panel-default
          .panel-heading
            .panel-title
              %h4 Основные параметры
          .panel-body
            %form.form-horizontal{:role => 'form'}
              .form-group
                %label.control-label.col-sm-4{:for => 'ind-plan'} Индивидуальный план
                .col-sm-3
                  %input.form-control#ind-plan{:type => 'float', :ng => {:model => 'currentConsultant.main.indPlan', :disabled => 'currentConsultant == null'}, :readonly => 'readonly'}
              .form-group
                %label.control-label.col-sm-4{:for => 'impl-plan'} Выполнение плана
                .col-sm-3
                  %input.form-control#impl-plan{:type => 'float', :ng => {:model => 'currentConsultant.main.implPlan', :disabled => 'currentConsultant == null'}, :readonly => 'readonly'}
              .form-group
                %label.control-label.col-sm-4{:for => 'impl'} Выполнение
                .col-sm-3
                  %input.form-control#impl{:type => 'float', :ng => {:model => 'currentConsultant.main.impl', :disabled => 'currentConsultant == null'}, :readonly => 'readonly'}
              .form-group
                %label.control-label.col-sm-4{:for => 'av-check'} Средний чек
                .col-sm-3
                  %input.form-control#av-check{:type => 'float', :ng => {:model => 'currentConsultant.main.avCheck', :disabled => 'currentConsultant == null'}, :readonly => 'readonly'}
              .form-group
                %label.control-label.col-sm-4{:for => 'items-count'} Количество позиций в чеке
                .col-sm-3
                  %input.form-control#items-count{:type => 'float', :ng => {:model => 'currentConsultant.main.itemsCount', :disabled => 'currentConsultant == null'}, :readonly => 'readonly'}
              .form-group
                %label.control-label.col-sm-4{:for => 'total-checks'} Общее количество чеков
                .col-sm-3
                  %input.form-control#total-checks{:type => 'float', :ng => {:model => 'currentConsultant.main.totalChecks', :disabled => 'currentConsultant == null'}, :readonly => 'readonly'}
        .panel.panel-default
          .panel-heading
            .panel-title
              %h4 Дополнительные параметры
          .panel-body
            %form.form-horizontal{:role => 'form'}
              .form-group
                %label.control-label.col-sm-3{:for => 'ind-plan'} Отпуск
                .col-sm-3
                  %input.form-control#ind-plan{:type => 'checkbox', :ng => {:model => 'currentConsultant.main.holiday', :disabled => 'currentConsultant == null'}, :onclick => 'return false'}
              .form-group
                %label.control-label.col-sm-3{:for => 'impl-plan'} Больничный
                .col-sm-3
                  %input.form-control#impl-plan{:type => 'checkbox', :ng => {:model => 'currentConsultant.main.hospital', :disabled => 'currentConsultant == null'}, :onclick => 'return false'}
              .form-group
                %label.control-label.col-sm-3{:for => 'impl'} Декретный отпуск
                .col-sm-3
                  %input.form-control#impl{:type => 'checkbox', :ng => {:model => 'currentConsultant.main.mleave', :disabled => 'currentConsultant == null'}, :onclick => 'return false'}
              .form-group
                %label.control-label.col-sm-3{:for => 'av-check'} Низкий стаж
                .col-sm-3
                  %input.form-control#av-check{:type => 'checkbox', :ng => {:model => 'currentConsultant.main.exp', :disabled => 'currentConsultant == null'}, :onclick => 'return false'}
              .form-group
                %label.control-label.col-sm-3{:for => 'items-count'} Увольнение
                .col-sm-3
                  %input.form-control#items-count{:type => 'checkbox', :ng => {:model => 'currentConsultant.main.dismissal', :disabled => 'currentConsultant == null'}, :onclick => 'readonly'}
        .panel.panel-default
          .panel-heading
            .panel-title
              %h4 Проблемы
            .well{:ng => {:show => 'isFindProblems'}}
              .progress.progress-striped.active
                .progress-bar{:role => 'progressbar', :aria => {:valuenow => '45', :valuemin => '0', :valuemax => '100'}, :style => 'width: 45%'}
                  %span.sr-only 45% Complete
            %button.btn.btn-primary{:ng => {:click => 'getProblems()', :hide => 'isFindProblems', :disabled => 'currentConsultant == null'}} Выделить
          .panel-body
            %ul
              %li{:ng => {:if => 'currentConsultant.problems.length == 0 || currentConsultant.problems.value.length == 0'}} Проблем нет
              %li{:ng => {:repeat => 'item in currentConsultant.problems.value'}}
                {{item}}
        .panel.panel-default
          .panel-heading
            .panel-title
              %h4 Рекомендации
            .well{:ng => {:show => 'isFindSolutions'}}
              .progress.progress-striped.active
                .progress-bar{:role => 'progressbar', :aria => {:valuenow => '63', :valuemin => '0', :valuemax => '100'}, :style => 'width: 63%'}
                  %span.sr-only 63% Complete
            %button.btn.btn-primary{:ng => {:hide => 'isFindSolutions', :click => 'getSolutions()', :disabled => 'currentConsultant == null || !currentConsultant.isFinishProblem'}} Выделить
          .panel-body
            %ul
              %li{:ng => {:if => 'currentConsultant.solutions.length == 0 || currentConsultant.solutions.value.length == 0'}} Проблем нет
              %li{:ng => {:repeat => 'item in currentConsultant.solutions.value'}}
                {{item}}
        .panel.panel-info
          .panel-body
            %button.btn.btn-primary{:ng => {:click => 'fullAnalyse()', :disabled => 'currentConsultant == null'}} Провести полный анализ консультанта
            -#%button.btn.btn-warning{:ng => {:click => 'all()'}} Провести полный анализ всех консультантов