
.alert.alert-warning{:ng => {:show => 'isProcess'}}
  %b Внимание!
  %p Происходит сохранение данных! Пожалуйста, подождите!
%br

.well
  .row
    .col-md-6
      %label.control-label{:for => 'plan'} План для магазина
      %input.form-control#plan{:type => 'number', :ng => {:model => 'plan'}}
    .col-md-6
      %label.control-label{:for => 'value'} Реальное выполнение плана магазином
      %input.form-control#value{:type => 'number', :ng => {:model => 'value'}}
%br
.row
  .col-md-4
    %table.table.table-bordered.table-hover
      %tr
        %th #
        %th ФИО
      %tr.analyse_consultant_tr{:ng => {:repeat => 'item in consultants', :click => 'changeCurrentConsultant(item);', :class => 'item.class'}}
        %td
          {{item.id}}
        %td
          {{item.fio}}

  .col-md-8
    -# Nav tabs
    %ul.nav.nav-tabs
      %li.active= link_to 'Основные параметры', '#home', :data => {:toggle => 'tab'}
      %li= link_to 'Дополнительные параметры', '#profile', :data => {:toggle => 'tab'}
    -# Tab panes
    .tab-content
      .tab-pane.active#home
        %br
        %form.form-horizontal{:role => 'form'}
          .form-group
            %label.control-label.col-sm-3{:for => 'ind-plan'} Индивидуальный план
            .col-sm-3
              %input.form-control#ind-plan{:type => 'number', :ng => {:model => 'currentConsultant.main.indPlan', :disabled => 'currentConsultant == null'}}
          .form-group
            %label.control-label.col-sm-3{:for => 'impl-plan'} Выполнение плана
            .col-sm-3
              %input.form-control#impl-plan{:type => 'number', :ng => {:model => 'currentConsultant.main.implPlan', :disabled => 'currentConsultant == null'}}
          .form-group
            %label.control-label.col-sm-3{:for => 'impl'} Выполнение
            .col-sm-3
              %input.form-control#impl{:type => 'number', :ng => {:model => 'currentConsultant.main.impl', :disabled => 'currentConsultant == null'}}
          .form-group
            %label.control-label.col-sm-3{:for => 'av-check'} Средний чек
            .col-sm-3
              %input.form-control#av-check{:type => 'number', :ng => {:model => 'currentConsultant.main.avCheck', :disabled => 'currentConsultant == null'}}
          .form-group
            %label.control-label.col-sm-3{:for => 'items-count'} Количество позиций в чеке
            .col-sm-3
              %input.form-control#items-count{:type => 'number', :ng => {:model => 'currentConsultant.main.itemsCount', :disabled => 'currentConsultant == null'}}
          .form-group
            %label.control-label.col-sm-3{:for => 'total-checks'} Общее количество чеков
            .col-sm-3
              %input.form-control#total-checks{:type => 'number', :ng => {:model => 'currentConsultant.main.totalChecks', :disabled => 'currentConsultant == null'}}
      .tab-pane#profile
        %br
          %form.form-horizontal{:role => 'form'}
            .form-group
              %label.control-label.col-sm-3{:for => 'ind-plan'} Отпуск
              .col-sm-3
                %input.form-control#ind-plan{:type => 'checkbox', :ng => {:model => 'currentConsultant.main.holiday', :disabled => 'currentConsultant == null'}}
            .form-group
              %label.control-label.col-sm-3{:for => 'impl-plan'} Больничный
              .col-sm-3
                %input.form-control#impl-plan{:type => 'checkbox', :ng => {:model => 'currentConsultant.main.hospital', :disabled => 'currentConsultant == null'}}
            .form-group
              %label.control-label.col-sm-3{:for => 'impl'} Декретный отпуск
              .col-sm-3
                %input.form-control#impl{:type => 'checkbox', :ng => {:model => 'currentConsultant.main.mleave', :disabled => 'currentConsultant == null'}}
            .form-group
              %label.control-label.col-sm-3{:for => 'av-check'} Низкий стаж
              .col-sm-3
                %input.form-control#av-check{:type => 'checkbox', :ng => {:model => 'currentConsultant.main.exp', :disabled => 'currentConsultant == null'}}
            .form-group
              %label.control-label.col-sm-3{:for => 'items-count'} Увольнение
              .col-sm-3
                %input.form-control#items-count{:type => 'checkbox', :ng => {:model => 'currentConsultant.main.dismissal', :disabled => 'currentConsultant == null'}}

%hr

= render 'modal'

%hr
%p
  %label{:for => 'is_finish', :ng => {:hide => 'isProcess'}} Ввод данных завершен?
  %br
  %input{:type => 'checkbox', :id => 'is_finish', :ng => {:model => 'isFinish', :hide => 'isProcess'}}
%p
  %button{:class => 'btn btn-success', :ng => {:click => 'save()', :hide => 'isProcess'}} Сохранить данные

%p
  %button{:class => 'btn btn-warning', :ng => {:click => 'saveAndAnalyse()', :hide => 'isProcess'}} Сохранить данные и перейти к анализу
