<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-hide="isProcess">
  Экспорт данных из сводного отчета
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Экспорт данных из сводного отчета</h4>
      </div>
      <div class="modal-body">
        <input id="file" name="file" type="file" value="Файл с данными" ng-model="file">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">ОК</button>
      </div>
    </div>
  </div>
</div>