<h1>Edit param_value</h1>

<form id="edit-param_value" name="param_value">
  <div class="field">
    <label for="value"> value:</label>
    <input type="text" name="value" id="value" value="<%= value %>" >
  </div>

  <div class="field">
    <label for="param_id"> param_id:</label>
    <input type="text" name="param_id" id="param_id" value="<%= param_id %>" >
  </div>

  <div class="field">
    <label for="date_id"> date_id:</label>
    <input type="text" name="date_id" id="date_id" value="<%= date_id %>" >
  </div>

  <div class="field">
    <label for="consultant_id"> consultant_id:</label>
    <input type="text" name="consultant_id" id="consultant_id" value="<%= consultant_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Param values" />
  </div>

</form>

<a href="#/index">Back</a>