<h1>Listing param_values</h1>

<table id="param_values-table">
  <tr>
    <th>Value</th>
    <th>Param</th>
    <th>Date</th>
    <th>Consultant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Param values</a>