<p>
  <b>Value:</b>
  <%= value %>
</p>

<p>
  <b>Param:</b>
  <%= param_id %>
</p>

<p>
  <b>Date:</b>
  <%= date_id %>
</p>

<p>
  <b>Consultant:</b>
  <%= consultant_id %>
</p>


<a href="#/index">Back</a>