- title 'Формирование отчетов для анализов'
%h1 Формирование отчетов для анализов

.row
  %table.table
    %caption Выберите анализ по дате, для формирования отчета по нему.
    - @analysis.each do |item|
      %tr
        %td= Russian::strftime(item.date, '%d.%m.%Y')
        %td
          %button.btn.btn-default Посмотреть результаты анализа
        %td
          %button.btn.btn-warning Сформировать отчет
